@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.sectionLeft {
    float: left;
    width: 75%;
}

.sectionRight {
    float: right;
    width: 25%;
}

.scoreContainer {
    background-color: rgb(238,238,238, 0.6);
    width: 50%;
    padding: 1px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto;
    line-height: .5em;
}

.clickerContainer img {
    position: relative;
    margin-top: 10px;
    transition: all 0.15s;
}

.clickerContainer img:hover {
    transform: scale(1.10)
}

.clickerContainer img:active {
    transform: scale(.99);
}

.shopButton {
    background-color: #8a8a8a;
    transition: all .15s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.shopButton:hover {
    background-color: #c7c7c7;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.568);
    transition: all .15s ease-in-out;
}

.shopButton #image {
    width: 25%;
}

.shopButton img {
    height: 64px;
    width: 100%;
}

.shopButton #nameAndCost p {
    margin: 0px;
    width: 60%;
    font-family: Roboto;
}

.shopButton #nameAndCost p:first-of-type {
    font-size: 24px;
}

.shopButton #amount {
    font-size: 36px;
    color: #595959;
    font-family: Roboto;
    width: 15%;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}