@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.sectionLeft {
    float: left;
    width: 75%;
}

.sectionRight {
    float: right;
    width: 25%;
}

.scoreContainer {
    background-color: rgb(238,238,238, 0.6);
    width: 50%;
    padding: 1px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: Roboto;
    line-height: .5em;
}

.clickerContainer img {
    position: relative;
    margin-top: 10px;
    transition: all 0.15s;
}

.clickerContainer img:hover {
    transform: scale(1.10)
}

.clickerContainer img:active {
    transform: scale(.99);
}

.shopButton {
    background-color: #999999;
    transition: all .15s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}

.shopButton:hover {
    background-color: #c7c7c7;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.568);
    transition: all .15s ease-in-out;
}

.shopButton:active {
    transform: scale(0.98);
}

.shopButton #image {
    width: 25%;
}

.shopButton img {
    height: 64px;
    width: 80%;
}

.shopButton #nameAndCost p {
    margin: 0px;
    width: 60%;
    font-family: Roboto;
}

.shopButton #nameAndCost p:first-of-type {
    font-size: 24px;
}

.shopButton #nameAndCost p:last-of-type {
    color: #ec1313; /*red*/
    /*color: #40bf40;*/ /*green*/
}

.shopButton #amount {
    font-size: 36px;
    color: #595959;
    font-family: Roboto;
    width: 15%;
}

.unselectable {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.reset-button {
    border: none;
    width: 100%; /*325px*/ 
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px 0px 10px 0px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
}

.reset-button {background-image: linear-gradient(to right, #F14658 0%, #FF6b00 100%);}